<div class="header">
    <div class="logo">
        <img class="logo-icon" src="./assets/images/logo.png" alt="WSS-logo" height="36px" />
        <img class="logo-title-icon" src="./assets/images/logo-title.png" alt="Wss-title" height="37" width="243"/>
    </div>
    <div class="info">
<!--        <div class="info-item location">-->
<!--            <img src="./assets/images/location.png" alt="location-icon" class="location-icon" width="18px" height="20px" />-->
<!--            &lt;!&ndash;FIXME: update this later&ndash;&gt;-->
<!--            <span class="typo-body-7">Noti</span>-->
<!--            <mat-icon>keyboard_arrow_down</mat-icon>-->
<!--        </div>-->
<!--        <div class="vertical-divider"></div>-->
<!--        <div class="info-item help">-->
<!--            <img src="./assets/icons/message-question.svg" alt="message-question" width="20px" height="20px" />-->
<!--&lt;!&ndash;            <span class="typo-body-7">{{ 'MES-184' | translate }}</span>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="vertical-divider"></div>-->
<!--        <div class="info-item user">-->
<!--&lt;!&ndash;            <app-avatar alt="avatar" [size]="'small'" [name]="name"></app-avatar>&ndash;&gt;-->
<!--            &lt;!&ndash;FIXME: update this later&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="body-6">{{ name }}</span>&ndash;&gt;-->
<!--            <mat-icon>keyboard_arrow_down</mat-icon>-->
<!--        </div>-->
        <div class="vertical-divider"></div>
        <div class="info-item notification">
            <!--FIXME: update this later-->
            <span class="badge-count typo-field-2">99+</span>
            <img src="./assets/icons/bell.svg" alt="bell" width="24px" height="24px" />
        </div>
    </div>
</div>
