<div class="header">
    <div class="left">
        <span class="typo-heading-6 title">Loại dịch vụ</span>
        <mat-icon class="svg-icon-primary" aria-label="providers icon" svgIcon="menu:provider"></mat-icon>
    </div>
    <div class="right">
        <mat-form-field class="search_box" appearance="outline">
            <input  placeholder="Tìm kiếm">
            <mat-icon matSuffix class="svg-icon-secondary" aria-label="search icon" svgIcon="search"></mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addNew()">{{'Tạo mới'}} +</button>
    </div>
</div>
