<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Quản lý công việc</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Tìm kiếm công việc'">
            </mat-form-field>
        </div>
    </div>
    <div class="flex flex-auto">
        <div class="flex flex-col flex-auto mb-0 overflow-y-auto">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Đối tác">
            <!-- Main -->
            <div class="flex flex-auto">
                <div class="flex flex-col vh-70 flex-auto mb-0 overflow-auto h-full">


                    <!-- <ng-container *ngIf="(items$ | async) as items">
                        <ng-container *ngIf="items.length > 0; else noProducts"> -->
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="task-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            <div
                                class="">
                                Mã số
                            </div>
                            <div
                                class="">
                                Tên công việc
                            </div>
                            <div
                                class="">
                                Người thực hiện
                            </div>
                            <div
                                class="">
                                Tên dịch vụ
                            </div>
                            <div
                                class="">
                                Đơn hàng
                            </div>
                            <div class="">Ngày bắt đầu</div>
                            <div class="">Ngày kết thúc</div>
                            <div class="">Trạng thái</div>
                            <div class="">Chi tiết</div>
                        </div>

                        <!-- Rows -->
                        <ng-container *ngIf="(partnerItems$ | async) as items1">
                            <ng-container *ngFor="let item of items1; trackBy: trackByFn">
                                <div class="task-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                    <div class="truncate">
                                        {{item.code}}
                                    </div>
                                    <div class="truncate">
                                        {{item.taskName}}
                                    </div>
                                    <div class="truncate">
                                        {{item.partner?.fullname}}
                                    </div>
                                    <div class="truncate">
                                        {{item.orderDetails[0]?.service?.name}}
                                    </div>

                                    <div class="truncate">
                                        {{'Đơn hàng của ' + item.orderDetails[0]?.order?.fullname}}
                                    </div>

                                    <div class="truncate">
                                        {{item.orderDetails[0]?.startTime | date: 'dd/MM/yyyy'}}
                                    </div>

                                    <div class="truncate">
                                        {{item.orderDetails[0]?.endTime | date: 'dd/MM/yyyy'}}
                                    </div>

                                    <div class="flex flex-row truncate">
                                        <ng-container *ngIf="item.status === 'EXPECTED'"
                                                      class="flex flex-col justify-center content-center ">
                                            <mat-icon
                                                class="text-gray-600 icon-size-5"
                                                [svgIcon]="'mat_outline:pending_actions'">
                                            </mat-icon>
                                            <span class="text-gray-600">Dự kiến</span>
                                        </ng-container>
                                        <ng-container *ngIf="item.status === 'TO_DO'"
                                                      class="flex flex-col justify-center content-center ">
                                            <mat-icon
                                                class="text-gray-600 icon-size-5"
                                                [svgIcon]="'mat_outline:pending_actions'">
                                            </mat-icon>
                                            <span class="text-gray-600">Đang chuẩn bị</span>
                                        </ng-container>
                                        <ng-container *ngIf="item.status === 'IN_PROGRESS'"
                                                      class="flex flex-col justify-center content-center ">
                                            <mat-icon
                                                class="text-gray-600 icon-size-5"
                                                [svgIcon]="'mat_outline:pending_actions'">
                                            </mat-icon>
                                            <span class="text-gray-600">Đang thực hiện</span>
                                        </ng-container>
                                        <ng-container *ngIf="item.status === 'DONE'"
                                                      class="flex flex-col justify-center content-center ">
                                            <mat-icon
                                                class="text-gray-600 icon-size-5"
                                                [svgIcon]="'mat_outline:pending_actions'">
                                            </mat-icon>
                                            <span class="text-gray-600">Hoành thành</span>
                                        </ng-container>
                                        <ng-container *ngIf="item.status === 'CANCEL'"
                                                      class="flex flex-col justify-center content-center ">
                                            <mat-icon
                                                class="text-gray-600 icon-size-5"
                                                [svgIcon]="'mat_outline:pending_actions'">
                                            </mat-icon>
                                            <span class="text-gray-600">Đã hủy</span>
                                        </ng-container>
                                    </div>

                                    <!-- Details button -->
                                    <div class="flex flex-row">
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 mr-2"
                                            mat-stroked-button
                                            (click)="update(item.id, 'partner')">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                        </button>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                            mat-stroked-button
                                            [color]="'warn'"
                                            (click)="delete(item.id, 'partner')">
                                            <mat-icon class="icon-size-5"
                                                      [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        #partnerPaginator
                        class="absolute inset-x-0 bottom-0 border-b border-t border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="partnerPagination.length"
                        [pageIndex]="partnerPagination.page"
                        [pageSize]="partnerPagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>

                    <!-- </ng-container>
                </ng-container> -->


                </div>
            </div>
        </mat-tab>
        <mat-tab label="Nhân viên">
            <div class="flex flex-auto">
                <div class="flex flex-col vh-70 flex-auto mb-0 overflow-y-auto">


                    <!-- <ng-container *ngIf="(items$ | async) as items">
                        <ng-container *ngIf="items.length > 0; else noProducts"> -->
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="task-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            <div
                                class="">
                                Mã số
                            </div>
                            <div
                                class="">
                                Tên công việc
                            </div>
                            <div
                                class="">
                                Người thực hiện
                            </div>
                            <div
                                class="">
                                Tên dịch vụ
                            </div>
                            <div
                                class="">
                                Đơn hàng
                            </div>
                            <div class="">Ngày bắt đầu</div>
                            <div class="">Ngày kết thúc</div>
                            <div class="">Trạng thái</div>
                            <div class="">Chi tiết</div>
                        </div>

                        <!-- Rows -->
                        <ng-container *ngIf="(ownerItems$ | async) as items1">
                            <ng-container *ngFor="let item of items1; trackBy: trackByFn">
                                <div class="task-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                    <div class="truncate">
                                        {{item.code}}
                                    </div>
                                    <div class="">
                                        {{item.taskName}}
                                    </div>
                                    <div class="">
                                        {{item.staff?.fullname}}
                                    </div>
                                    <div class="">
                                        {{item.service?.name}}
                                    </div>

                                    <div class="">
                                        {{'Đơn hàng của ' + item.order?.fullname}}
                                    </div>

                                    <div class="">
                                        {{item.orderDetails[0]?.startTime | date: 'dd/MM/yyyy'}}
                                    </div>

                                    <div class="">
                                        {{item.orderDetails[0]?.endTime | date: 'dd/MM/yyyy'}}
                                    </div>

                                    <div class="flex flex-row truncate">
                                        <ng-container *ngIf="item.status === 'EXPECTED'"
                                                      class="flex flex-col justify-center content-center ">
                                            <mat-icon
                                                class="text-gray-600 icon-size-5"
                                                [svgIcon]="'mat_outline:pending_actions'">
                                            </mat-icon>
                                            <span class="text-gray-600">Dự kiến</span>
                                        </ng-container>
                                        <ng-container *ngIf="item.status === 'TO_DO'"
                                                      class="flex flex-col justify-center content-center ">
                                            <mat-icon
                                                class="text-gray-600 icon-size-5"
                                                [svgIcon]="'mat_outline:pending_actions'">
                                            </mat-icon>
                                            <span class="text-gray-600">Đang chuẩn bị</span>
                                        </ng-container>
                                        <ng-container *ngIf="item.status === 'IN_PROGRESS'"
                                                      class="flex flex-col justify-center content-center ">
                                            <mat-icon
                                                class="text-gray-600 icon-size-5"
                                                [svgIcon]="'mat_outline:pending_actions'">
                                            </mat-icon>
                                            <span class="text-gray-600">Đang thực hiện</span>
                                        </ng-container>
                                        <ng-container *ngIf="item.status === 'DONE'"
                                                      class="flex flex-col justify-center content-center ">
                                            <mat-icon
                                                class="text-gray-600 icon-size-5"
                                                [svgIcon]="'mat_outline:pending_actions'">
                                            </mat-icon>
                                            <span class="text-gray-600">Hoành thành</span>
                                        </ng-container>
                                        <ng-container *ngIf="item.status === 'CANCEL'"
                                                      class="flex flex-col justify-center content-center ">
                                            <mat-icon
                                                class="text-gray-600 icon-size-5"
                                                [svgIcon]="'mat_outline:pending_actions'">
                                            </mat-icon>
                                            <span class="text-gray-600">Đã hủy</span>
                                        </ng-container>
                                    </div>

                                    <!-- Details button -->
                                    <div class="flex flex-row">
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 mr-2"
                                            mat-stroked-button
                                            (click)="update(item.id, 'owner')">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                        </button>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                            mat-stroked-button
                                            [color]="'warn'"
                                            (click)="delete(item.id, 'owner')">
                                            <mat-icon class="icon-size-5"
                                                      [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                                        <mat-paginator
                                            #ownerPaginator
                                            class="absolute inset-x-0 bottom-0 border-b border-t border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                            [ngClass]="{'pointer-events-none': isLoading}"
                                            [length]="ownerPagination.length"
                                            [pageIndex]="ownerPagination.page"
                                            [pageSize]="ownerPagination.size"
                                            [pageSizeOptions]="[5, 10, 25, 100]"
                                            [showFirstLastButtons]="true"></mat-paginator>

                    <!-- </ng-container>
                </ng-container> -->


                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
        </div>
    </div>
    <ng-template #noProducts>
        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Không có công việc nào!
        </div>
    </ng-template>
</div>
