<div class="flex flex-col flex-auto -m-6 pt-1">

    <ng-container *ngIf="(item$ | async) as item" [formGroup]="form">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight p-5">Đổi mật khẩu</div>

        <!-- Image -->
        <div class="flex flex-auto flex-row p-5">
            <!-- Name, SKU & etc. -->
            <div class="flex flex-col w-full sm:pl-8">

                <!-- Name -->
                <mat-form-field class="w-full">
                    <mat-label>Nhập mật khẩu mới</mat-label>
                    <input type="password" matInput [formControlName]="'password'">
                    <mat-error *ngIf="form.get('password').hasError('required')">
                        Mật khẩu không được để trống
                    </mat-error>
                    <mat-error *ngIf="form.get('password').hasError('minlength')">
                        Mật khẩu phải ít nhất 6 ký tự
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Nhập lại mật khẩu mới</mat-label>
                    <input type="password" matInput [formControlName]="'confirmPassword'">
                    <mat-error *ngIf="form.get('confirmPassword').hasError('required')">
                        Xác nhận mật khẩu không được để trống
                    </mat-error>
                    <mat-error *ngIf="form.get('confirmPassword').hasError('minlength')">
                        Xác nhận mật khẩu phải ít nhất 6 ký tự
                    </mat-error>
                    <mat-error *ngIf="form.get('confirmPassword').hasError('matchOther')">
                        Xác nhận mật khẩu không trùng với mật khẩu
                    </mat-error>
                </mat-form-field>
            </div>


        </div>
        <div class="flex justify-end items-center m-4">
            <div
                class="flex items-center mr-4 mt-4"
                *ngIf="flashMessage">
                <ng-container *ngIf="flashMessage === 'success'">
                    <mat-icon
                        class="text-green-500"
                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Thành công</span>
                </ng-container>
                <ng-container *ngIf="flashMessage === 'error'">
                    <mat-icon
                        class="text-red-500"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <span class="ml-2">Có lỗi xảy ra, vui lòng thử lại!</span>
                </ng-container>
            </div>
            <!-- Edit Actions -->
            <ng-container *ngIf="item.id">
                <div class="flex items-center justify-between mt-4">
                    <!-- Close -->
                    <button class="mr-4" mat-flat-button matDialogClose>Đóng</button>
                    <button
                        *ngIf="roles.includes(item.roleName)"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="form.invalid"
                        (click)="update()">
                        Đổi mật khẩu
                    </button>

                </div>
            </ng-container>
        </div>
    </ng-container>

</div>
