<mat-nav-list #menu class="menu">
    <a mat-list-item routerLink="/home" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="Home menu icon" svgIcon="menu:home"></mat-icon>
        <span class="typo-body-6 label">Trang chủ</span>
    </a>
    <a mat-list-item routerLink="/categories" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="Service category visit menu icon" svgIcon="menu:categories"></mat-icon>
        <span class="typo-body-6 label">Loại dịch vụ</span>
    </a>
    <a mat-list-item routerLink="/services" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="Service menu icon" svgIcon="menu:services"></mat-icon>
        <span class="typo-body-6 label">Dịch vụ</span>
    </a>
    <a mat-list-item routerLink="/combos" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="Combo menu icon" svgIcon="menu:combos"></mat-icon>
        <span class="typo-body-6 label">Gói dịch vụ</span>
    </a>
    <a mat-list-item routerLink="/orders" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="order menu icon" svgIcon="menu:orders"></mat-icon>
        <span class="typo-body-6 label">Đơn hàng</span>
    </a>
    <a mat-list-item routerLink="/tasks" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="Task menu icon" svgIcon="menu:tasks"></mat-icon>
        <span class="typo-body-6 label">Công việc</span>
    </a>

    <a mat-list-item routerLink="/review-service" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="Service review menu icon" svgIcon="menu:review-service"></mat-icon>
        <span class="typo-body-6 label">Duyệt dịch vụ</span>
    </a>
    <a mat-list-item routerLink="/discounts" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="Discount menu icon" svgIcon="menu:discounts"></mat-icon>
        <span class="typo-body-6 label">Phiếu giảm giá</span>
    </a>
    <a mat-list-item routerLink="/feedbacks" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="Feedback menu icon" svgIcon="menu:feedbacks"></mat-icon>
        <span class="typo-body-6 label">Đánh giá khách hàng</span>
    </a>
    <a mat-list-item routerLink="/messages" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="Message menu icon" svgIcon="menu:messages"></mat-icon>
        <span class="typo-body-6 label">Tin nhắn</span>
    </a>
    <a mat-list-item routerLink="/none" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="None menu icon" svgIcon="menu:none"></mat-icon>
        <span class="typo-body-6 label">Chưa có</span>
    </a>
    <a mat-list-item routerLink="/setting" routerLinkActive="active-link" class="item">
        <mat-icon aria-hidden="false" aria-label="setting menu icon" svgIcon="menu:setting"></mat-icon>
        <span class="typo-body-6 label">Chưa có</span>
    </a>
</mat-nav-list>
