<div class="flex flex-col flex-auto md:min-w-160 -m-6 pt-1">
    <!-- Title -->
    <div class="text-3xl font-extrabold tracking-tight p-5">Thêm Loại dịch vụ</div>

    <ng-container *ngIf="(cate$ | async) as cate" [formGroup]="form">
        <!-- Image -->

        <div class="flex flex-auto flex-row p-5">
            <!--            image-->
            <div class="flex flex-col items-center">
                <div class="w-32 h-44 border rounded overflow-hidden">
                    <ng-container *ngIf="cate.imageUrl; else noImage">
                        <img class="w-full h-full object-cover" [src]="sanitizeImageUrl(cate.imageUrl)" alt="Lỗi HÌnh Ảnh">
                    </ng-container>
                    <ng-template #noImage>
                        <span class="flex justify-center items-center min-h-20 text-lg font-semibold">NO IMAGE</span>
                    </ng-template>
                </div>
                <button class="mt-2"
                mat-flat-button
                [color]="'primary'"
                [disabled]="form.invalid"
                (click)="fileInput.click()">
                Chọn ảnh
                </button>
                <input type="file" #fileInput style="display: none;" (change)="uploadImage($event)" accept="image/*">
            </div>

            <div class="flex flex-auto flex-wrap">
                <!-- Name, SKU & etc. -->
                <div class="flex flex-col w-full sm:pl-8">

                    <!-- Name -->
                    <mat-form-field class="w-full">
                        <mat-label>Tên loại dịch vụ</mat-label>
                        <input matInput [formControlName]="'name'">
                        <mat-error *ngIf="form.get('name').hasError('required')">
                            Tên loại dịch vụ không được để trống
                        </mat-error>
                    </mat-form-field>

                    <!-- Category -->
                    <div class="flex">
                        <mat-form-field class="w-full pr-2">
                            <mat-label>Loại dịch vụ</mat-label>
                            <mat-select [formControlName]="'categoryId'">
                                <ng-container *ngIf="parentCategories$ | async as cateParent">
                                    <ng-container *ngFor="let category of cateParent">
                                        <mat-option *ngIf="category.id != cate.id" [value]="category.id">
                                            {{category.name}}
                                        </mat-option>
                                    </ng-container>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Stock and Reserved -->
                    <div class="flex flex-col w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Mô tả</mat-label>
                            <textarea
                                matInput
                                [rows]="5"
                                [formControlName]="'description'"></textarea>
                            <mat-error *ngIf="form.get('description').hasError('maxlength')">
                                Mô tả không được quá 300 ký tự
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Cost, Base price, Tax & Price -->

            </div>

        </div>
        <div class="flex justify-end items-center m-4">
            <div
                class="flex items-center mr-4 mt-4"
                *ngIf="flashMessage">
                <ng-container *ngIf="flashMessage === 'success'">
                    <mat-icon
                        class="text-green-500"
                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Thành công</span>
                </ng-container>
                <ng-container *ngIf="flashMessage === 'error'">
                    <mat-icon
                        class="text-red-500"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <span class="ml-2">Có lỗi xảy ra, vui lòng thử lại!</span>
                </ng-container>
            </div>
            <!-- Add Actions -->
            <ng-container *ngIf="!cate.id">
                <div class="flex items-center justify-end mt-4">
                    <!-- Close -->
                    <button class="mr-4" mat-flat-button matDialogClose>Đóng</button>
                    <!-- Save -->
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="form.invalid"
                        (click)="create()">
                        Thêm mới
                    </button>
                </div>
            </ng-container>
            <!-- Edit Actions -->
            <ng-container *ngIf="cate.id">
                <div class="flex items-center justify-between mt-4">
                    <!-- Close -->
                    <button class="mr-4" mat-flat-button matDialogClose>Đóng</button>
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="form.invalid"
                        (click)="update()">
                        Cập nhật
                    </button>

                </div>
            </ng-container>
        </div>
    </ng-container>

</div>
