<div class="flex flex-col flex-auto -m-6 pt-1">

    <ng-container *ngIf="(cate$ | async) as cate" [formGroup]="form">
        <div
            class="text-3xl font-extrabold tracking-tight p-5">{{ !cate.id ? 'Thêm Loại dịch vụ' : 'Chỉnh sửa Loại dịch vụ'}}</div>

        <!-- Image -->

        <div class="flex flex-auto flex-row p-5">
            <!--            image-->
            <div class="flex flex-col items-center">
                <div class="max-w-37 h-50 border rounded overflow-hidden">
                    <img [hidden]="!imgDataOrLink" class="max-w-36 h-full object-cover" [src]="imgDataOrLink"
                         alt="Lỗi HÌnh Ảnh">

                    <span [hidden]="imgDataOrLink"
                          class="flex justify-center items-center min-h-20 text-lg font-semibold p-8 pt-12">NO IMAGE</span>
                </div>
                <button class="mt-2"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="fileInput.click()">
                    Chọn ảnh
                </button>
                <input type="file" #fileInput style="display: none;" (change)="uploadImage($event)" accept="image/*">
            </div>

            <div class="flex flex-auto flex-wrap">
                <!-- Name, SKU & etc. -->
                <div class="flex flex-col w-full pl-8">

                    <!-- Name -->
                    <mat-form-field class="w-full">
                        <mat-label>Tên loại dịch vụ</mat-label>
                        <input matInput [formControlName]="'name'">
                        <mat-error *ngIf="form.get('name').hasError('required')">
                            Tên loại dịch vụ không được để trống
                        </mat-error>
                    </mat-form-field>

                    <!-- Category -->
                    <div class="flex items-center">
                        <mat-form-field class="w-full pr-2">
                            <mat-label>Chiết khấu</mat-label>
                            <input type="number" min="0" matInput [formControlName]="'commissionValue'">
                            <mat-error *ngIf="form.get('commissionValue').hasError('required')">
                                Chiết khấu không được để trống
                            </mat-error>
                        </mat-form-field>


                        <mat-checkbox
                            class="w-1/2 flex items-center h-10 min-h-10 pl-1 pr-4"
                            [formControlName]="'isOrderLimit'"
                            [color]="'primary'">
                            <mat-label>Giới hạn đặt</mat-label>

                        </mat-checkbox>
                    </div>

                    <!-- Stock and Reserved -->
                    <div class="flex flex-col w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Mô tả</mat-label>
                            <textarea
                                matInput
                                [rows]="5"
                                [formControlName]="'description'"></textarea>
                            <mat-error *ngIf="form.get('description').hasError('maxlength')">
                                Mô tả không được quá 300 ký tự
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Cost, Base price, Tax & Price -->

            </div>

        </div>
        <div class="flex justify-end items-center m-4">
            <div
                class="flex items-center mr-4 mt-4"
                *ngIf="flashMessage">
                <ng-container *ngIf="flashMessage === 'success'">
                    <mat-icon
                        class="text-green-500"
                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Thành công</span>
                </ng-container>
                <ng-container *ngIf="flashMessage === 'error'">
                    <mat-icon
                        class="text-red-500"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <span class="ml-2">Có lỗi xảy ra, vui lòng thử lại!</span>
                </ng-container>
            </div>
            <!-- Add Actions -->
            <ng-container *ngIf="!cate.id">
                <div class="flex items-center justify-end mt-4">
                    <!-- Close -->
                    <button class="mr-4" mat-flat-button matDialogClose>Đóng</button>
                    <!-- Save -->
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="form.invalid"
                        (click)="create()">
                        Lưu
                    </button>
                </div>
            </ng-container>
            <!-- Edit Actions -->
            <ng-container *ngIf="cate.id">
                <div class="flex items-center justify-between mt-4">
                    <!-- Close -->
                    <button class="mr-4" mat-flat-button matDialogClose>Đóng</button>
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="form.invalid"
                        (click)="update()">
                        Cập nhật
                    </button>

                </div>
            </ng-container>
        </div>
    </ng-container>

</div>
