<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Dịch vụ</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Tìm kiếm dịch vụ'">
            </mat-form-field>
            <!-- Add category button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createItem()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Thêm mới</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-auto">
        <div class="flex flex-col flex-auto mb-0 overflow-auto">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
                <mat-tab label="Đối tác">
                    <div class="flex flex-auto">
                        <div class="flex flex-col flex-auto mb-10 overflow-auto vh-70">
                            <ng-container *ngIf="(partnerServices$ | async) as items">
                                <ng-container *ngIf="items.length > 0; else noProducts">
                                    <div class="grid">
                                        <!-- Header -->
                                        <div
                                            class="partner-service-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                            matSort
                                            matSortDisableClear>
                                            <div>Mã dịch vụ</div>
                                            <div
                                                class="">
                                                Tên dịch vụ
                                            </div>
                                            <div
                                                class="">
                                                Đối tác
                                            </div>
                                            <div
                                                class="hidden md:block sm:block">
                                                Loại dịch vụ
                                            </div>
                                            <div
                                                class="hidden lg:block ">
                                                Số lượng
                                            </div>
                                            <div class="hidden lg:block">Giá dịch vụ</div>

                                            <div class="hidden lg:block">Trạng thái</div>
                                            <div class="hidden sm:block">Chi tiết</div>
                                        </div>
                                        <!-- Rows -->
                                        <ng-container *ngIf="(partnerServices$ | async) as items1">
                                            <ng-container *ngFor="let item of items1; trackBy: trackByFn">
                                                <div class="partner-service-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                                    <!-- Image -->
                                                    <div class="truncate">
                                                        {{item.code}}
                                                    </div>

                                                    <div class="truncate">
                                                        {{item?.name}}
                                                    </div>
                                                    <div class="truncate">
                                                        {{getPartnerName(item?.createByNavigation?.id)}}
                                                    </div>
                                                    <div class="truncate">
                                                        {{item?.category?.name}}
                                                    </div>
                                                    <div class="truncate">
                                                        {{item.quantity}}
                                                    </div>

                                                    <div class="truncate">
                                                        {{item?.currentPrices?.price | number: '1.0-0' }} VNĐ
                                                    </div>

                                                    <div class="flex flex-row justify-start content-center truncate">
                                                        <ng-container *ngIf="item.status === 'Active'" class="flex flex-col justify-center content-center ">
                                                            <mat-icon
                                                                class="text-green-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:check'">
                                                            </mat-icon>
                                                            <span class="text-green-400">Đang hoạt động</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'InActive'">
                                                            <mat-icon
                                                                class="text-gray-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                            <span class="text-gray-400">Ngưng hoạt động</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'Deleted'">
                                                            <mat-icon
                                                                class="text-gray-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                            <span class="text-gray-400">Đã xóa</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'Pending'" class="flex flex-col justify-center content-center ">
                                                            <mat-icon
                                                                class="text-gray-600 icon-size-5"
                                                                [svgIcon]="'mat_outline:pending_actions'">
                                                            </mat-icon>
                                                            <span class="text-gray-600">Đang chờ duyệt</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'Reject'" class="flex flex-col justify-center content-center ">
                                                            <mat-icon
                                                                class="text-gray-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                            <span class="text-gray-400">Từ chối</span>
                                                        </ng-container>
                                                    </div>



                                                    <!-- Details button -->
                                                    <div class="flex flex-row">
                                                        <button
                                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 mr-2"
                                                            mat-stroked-button
                                                            (click)="update(item.id, 'partner')">
                                                            <mat-icon
                                                                class="icon-size-5"
                                                                [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                                        </button>
                                                        <button
                                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                                            mat-stroked-button
                                                            [color]="'warn'"
                                                            (click)="delete(item.id, 'partner')">
                                                            <mat-icon class="icon-size-5"
                                                                      [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                <!--                                <div class="grid">-->
                <!--                                    <ng-container *ngIf="selectedCategory?.id === cate.id">-->
                <!--                                        <ng-container-->
                <!--                                            *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: cate}"></ng-container>-->
                <!--                                    </ng-container>-->
                <!--                                </div>-->
                                            </ng-container>
                                        </ng-container>
                                    </div>

                                    <mat-paginator
                                        #partnerPaginator
                                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                        [ngClass]="{'pointer-events-none': isLoading}"
                                        [length]="partnerServicesPagination.length"
                                        [pageIndex]="partnerServicesPagination.page"
                                        [pageSize]="partnerServicesPagination.size"
                                        [pageSizeOptions]="[5, 10, 25, 100]"
                                        [showFirstLastButtons]="true"></mat-paginator>

                                </ng-container>
                            </ng-container>
                            <ng-template #noProducts>
                                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Không có dịch vụ nào!
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Cửa hàng">
                    <div class="flex flex-auto">
                        <div class="flex flex-col flex-auto mb-10 overflow-auto vh-70">
                            <ng-container *ngIf="(ownerServices$ | async) as items">
                                <ng-container *ngIf="items.length > 0; else noProducts">
                                    <div class="grid">
                                        <!-- Header -->
                                        <div
                                            class="service-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                            matSort
                                            matSortDisableClear>
                                            <div>Mã dịch vụ</div>
                                            <div
                                                class="">
                                                Tên dịch vụ
                                            </div>
                                            <div
                                                class="hidden md:block sm:block">
                                                Loại dịch vụ
                                            </div>
                                            <div
                                                class="hidden lg:block ">
                                                Số lượng
                                            </div>
                                            <div class="hidden lg:block">Giá cho thuê</div>

                                            <div class="hidden lg:block">Trạng thái</div>
                                            <div class="hidden sm:block">Chi tiết</div>
                                        </div>
                                        <!-- Rows -->
                                        <ng-container *ngIf="(ownerServices$ | async) as items1">
                                            <ng-container *ngFor="let item of items1; trackBy: trackByFn">
                                                <div class="service-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                                    <!-- Image -->
                                                    <div class="truncate">
                                                        {{item.code}}
                                                    </div>

                                                    <div class="truncate">
                                                        {{item?.name}}
                                                    </div>
                                                    <div class="hidden md:block truncate">
                                                        {{item?.category?.name}}
                                                    </div>
                                                    <div class="hidden lg:block truncate">
                                                        {{item.quantity}}
                                                    </div>

                                                    <div class="hidden lg:block truncate">
                                                        {{item?.currentPrices?.price | number: '1.0-0' }} VNĐ
                                                    </div>

                                                    <div class="flex flex-row justify-start content-center truncate">
                                                        <ng-container *ngIf="item.status === 'Active'" class="flex flex-col justify-center content-center ">
                                                            <mat-icon
                                                                class="text-green-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:check'">
                                                            </mat-icon>
                                                            <span class="text-green-400">Đang hoạt động</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'InActive'">
                                                            <mat-icon
                                                                class="text-gray-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                            <span class="text-gray-400">Ngưng hoạt động</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'Deleted'">
                                                            <mat-icon
                                                                class="text-gray-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                            <span class="text-gray-400">Đã xóa</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'Pending'" class="flex flex-col justify-center content-center ">
                                                            <mat-icon
                                                                class="text-gray-600 icon-size-5"
                                                                [svgIcon]="'mat_outline:pending_actions'">
                                                            </mat-icon>
                                                            <span class="text-gray-600">Đang chờ duyệt</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'Reject'" class="flex flex-col justify-center content-center ">
                                                            <mat-icon
                                                                class="text-gray-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                            <span class="text-gray-400">Từ chối</span>
                                                        </ng-container>
                                                    </div>



                                                    <!-- Details button -->
                                                    <div class="flex flex-row">
                                                        <button
                                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 mr-2"
                                                            mat-stroked-button
                                                            (click)="update(item.id, 'owner')">
                                                            <mat-icon
                                                                class="icon-size-5"
                                                                [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                                        </button>
                                                        <button
                                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                                            mat-stroked-button
                                                            [color]="'warn'"
                                                            (click)="delete(item.id, 'owner')">
                                                            <mat-icon class="icon-size-5"
                                                                      [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!--                                <div class="grid">-->
                                                <!--                                    <ng-container *ngIf="selectedCategory?.id === cate.id">-->
                                                <!--                                        <ng-container-->
                                                <!--                                            *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: cate}"></ng-container>-->
                                                <!--                                    </ng-container>-->
                                                <!--                                </div>-->
                                            </ng-container>
                                        </ng-container>
                                    </div>

                                    <mat-paginator
                                        #ownerPaginator
                                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                        [ngClass]="{'pointer-events-none': isLoading}"
                                        [length]="ownerServicesPagination.length"
                                        [pageIndex]="ownerServicesPagination.page"
                                        [pageSize]="ownerServicesPagination.size"
                                        [pageSizeOptions]="[5, 10, 25, 100]"
                                        [showFirstLastButtons]="true"></mat-paginator>

                                </ng-container>
                            </ng-container>
                            <ng-template #noProducts>
                                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Không có dịch vụ nào!
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Duyệt dịch vụ">
                    <div class="flex flex-auto">
                        <div class="flex flex-col mb-10 vh-70 flex-auto overflow-y-auto">
                            <ng-container *ngIf="(pendingServices$ | async) as items">
                                <ng-container *ngIf="items.length > 0; else noProducts">
                                    <div class="grid">
                                        <!-- Header -->
                                        <div
                                            class="service-approval-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                            matSort
                                            matSortDisableClear>
                                            <div
                                                class="">
                                                Mã dịch vụ
                                            </div>
                                            <div
                                                class="">
                                                Tên dịch vụ
                                            </div>
                                            <div
                                                class="">
                                                Loại dịch vụ
                                            </div>
                                            <div class="">Giá</div>
                                            <div class="">Trạng thái</div>
                                            <div class="">Chi tiết</div>
                                        </div>
                                        <!-- Rows -->
                                        <ng-container *ngIf="(pendingServices$ | async) as items1">
                                            <ng-container *ngFor="let item of items1; trackBy: trackByFn">
                                                <div class="service-approval-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                                    <div class="truncate">
                                                        {{item.code}}
                                                    </div>
                                                    <div class="hidden md:block truncate">
                                                        {{item?.name}}
                                                    </div>
                                                    <div class="hidden lg:block truncate">
                                                        {{item?.category?.name}}
                                                    </div>

                                                    <div class="hidden lg:block truncate">
                                                        {{item?.currentPrices?.price | number: '1.0-0' }} VNĐ
                                                    </div>

                                                    <div class="flex flex-row truncate">
                                                        <ng-container *ngIf="item.status === 'Active'" class="flex flex-col justify-center content-center ">
                                                            <mat-icon
                                                                class="text-green-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:check'">
                                                            </mat-icon>
                                                            <span class="text-green-400">Đang hoạt động</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'InActive'">
                                                            <mat-icon
                                                                class="text-gray-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                            <span class="text-gray-400">Ngưng hoạt động</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'Deleted'">
                                                            <mat-icon
                                                                class="text-gray-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                            <span class="text-gray-400">Đã xóa</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'Pending'" class="flex flex-col justify-center content-center ">
                                                            <mat-icon
                                                                class="text-gray-600 icon-size-5"
                                                                [svgIcon]="'mat_outline:pending_actions'">
                                                            </mat-icon>
                                                            <span class="text-gray-600">Đang chờ duyệt</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.status === 'Reject'" class="flex flex-col justify-center content-center ">
                                                            <mat-icon
                                                                class="text-gray-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                            <span class="text-gray-400">Từ chối</span>
                                                        </ng-container>
                                                    </div>

                                                    <!-- Details button -->
                                                    <div class="flex flex-row">
                                                        <button
                                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 mr-2"
                                                            mat-stroked-button
                                                            (click)="approvalService(item.id)">
                                                            <mat-icon
                                                                class="icon-size-5"
                                                                [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <mat-paginator
                                        #pendingPaginator
                                        class="absolute inset-x-0 bottom-0 border-b border-t border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                        [ngClass]="{'pointer-events-none': isLoading}"
                                        [length]="pendingServicesPagination.length"
                                        [pageIndex]="pendingServicesPagination.page"
                                        [pageSize]="pendingServicesPagination.size"
                                        [pageSizeOptions]="[5, 10, 25, 100]"
                                        [showFirstLastButtons]="true"></mat-paginator>
                                </ng-container>
                            </ng-container>
                            <ng-template #noProducts>
                                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Không có dịch vụ đang chờ duyệt
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
