<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-auto bg-card dark:bg-transparent">
    <ng-container *ngIf="(item$ | async) as item">
        <!-- Header -->
        <div
            class="relative flex flex-col flex-0 py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div
                class="absolute inset-x-0 bottom-0"
                *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
                <div class="flex flex-row cursor-pointer w-fit" routerLink="../">
                    <mat-icon [svgIcon]="'heroicons_solid:arrow-left'"></mat-icon>
                    <div class="text-2xl font-extrabold tracking-tight ml-4">Quay lại</div>
                </div>


            <div class="mt-8 grid grid-cols-1 md:grid-cols-2">
                <div class="">
                    <div class="text-3xl font-extrabold tracking-tight">Đơn hàng #{{item.code}}</div>
                    <div class="mt-4 grid grid-cols-1 md:grid-cols-2">
                        <div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_solid:clock'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Ngày đặt hàng</div>
                                    <div class="text-lg font-semibold">{{item.createDate | date: 'dd/MM/yyyy'}}</div>
                                </div>
                            </div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'mat_outline:credit_card'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Trạng thái thanh toán</div>
                                    <ng-container *ngIf="item.statusPayment === 'PENDING'">
                                        <div class="text-lg font-semibold">Chờ xác nhận</div>
                                    </ng-container>
                                    <ng-container *ngIf="item.statusPayment === 'CONFIRM'">
                                        <div class="text-lg font-semibold">Chờ đặt cọc</div>
                                    </ng-container>
                                    <ng-container *ngIf="item.statusPayment === 'DOING'">
                                        <div class="text-lg font-semibold">Đã đặt cọc</div>
                                    </ng-container>
                                    <ng-container *ngIf="item.statusPayment === 'DONE'">
                                        <div class="text-lg font-semibold">Đã thanh toán đủ</div>
                                    </ng-container>
                                    <ng-container *ngIf="item.statusPayment === 'CANCEL'">
                                        <div class="text-lg font-semibold">Đã hủy</div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'mat_outline:receipt_long'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Trạng thái đơn hàng</div>
                                    <ng-container *ngIf="item.statusOrder === 'PENDING'">
                                        <div class="text-lg font-semibold">Chờ xác nhận</div>
                                    </ng-container>
                                    <ng-container *ngIf="item.statusOrder === 'CONFIRM'">
                                        <div class="text-lg font-semibold">Xác nhận</div>
                                    </ng-container>
                                    <ng-container *ngIf="item.statusOrder === 'DOING'">
                                        <div class="text-lg font-semibold">Đang thực hiện</div>
                                    </ng-container>
                                    <ng-container *ngIf="item.statusOrder === 'DONE'">
                                        <div class="text-lg font-semibold">Hoàn thành</div>
                                    </ng-container>
                                    <ng-container *ngIf="item.statusOrder === 'CANCEL'">
                                        <div class="text-lg font-semibold">Đã hủy</div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:user'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Phiếu giảm giá</div>
                                    <div class="text-lg font-semibold">{{item.voucher?.name ?? 'Không áp dụng'}}</div>
                                </div>
                            </div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:user'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Giá trị đơn hàng</div>
                                    <div class="text-lg font-semibold">{{item.totalAmount | number: '1.0-0'}}  VNĐ</div>
                                </div>
                            </div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:cash'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Số tiền đã đặt cọc</div>
                                    <div class="text-lg font-semibold">{{item.totalAmountRequest | number: '1.0-0'}}  VNĐ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-3xl font-extrabold tracking-tight">Thông tin khách hàng</div>
                    <div class="mt-4 grid grid-cols-1 md:grid-cols-2">
                        <div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_solid:identification'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Tên khách hàng</div>
                                    <div class="text-lg font-semibold">{{item.fullname}}</div>
                                </div>
                            </div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:map'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Địa chỉ</div>
                                    <div class="text-lg font-semibold">{{item.address}}</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_solid:phone'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Số điện thoại</div>
                                    <div class="text-lg font-semibold">{{item.phone}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="text-2xl font-extrabold tracking-tight">Ghi chú</div>
                        <div>{{item.description}}</div>
                    </div>
                </div>
                <div class="">
                    <div class="text-3xl font-extrabold tracking-tight">Thông tin đám cưới</div>
                    <div class="mt-4 flex flex-row h-18">
                        <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                            <mat-icon [svgIcon]="'heroicons_solid:clock'" class="text-white"></mat-icon>
                        </div>
                        <div class="ml-3">
                            <div class="text-[#8E8EA1] text-sm ">Ngày cưới</div>
                            <div class="text-lg font-semibold">{{item.weddingInformation?.weddingDay | date: 'dd/MM/yyyy'}}</div>
                        </div>
                    </div>
                    <div class="mt-4 grid grid-cols-1 md:grid-cols-2">
                        <div>
                            <div class="">
                                <div class="text-2xl font-bold tracking-tight">Nhà trai</div>
                            </div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:user'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Ông</div>
                                    <div class="text-lg font-semibold">{{item.weddingInformation?.nameBrideFather}}</div>
                                </div>
                            </div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:user'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Bà</div>
                                    <div class="text-lg font-semibold">{{item.weddingInformation?.nameBrideMother}}</div>
                                </div>
                            </div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:user'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Chú rễ</div>
                                    <div class="text-lg font-semibold">{{item.weddingInformation?.nameBride}}</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="">
                                <div class="text-2xl font-bold tracking-tight">Nhà gái</div>
                            </div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:user'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Ông</div>
                                    <div class="text-lg font-semibold">{{item.weddingInformation?.nameGroomFather}}</div>
                                </div>
                            </div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:user'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Bà</div>
                                    <div class="text-lg font-semibold">{{item.weddingInformation?.nameGroomMother}}</div>
                                </div>
                            </div>
                            <div class="flex flex-row h-18">
                                <div class="min-w-10 w-10 min-h-10 h-10 bg-[#F8903A] rounded-full flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:user'" class="text-white"></mat-icon>
                                </div>
                                <div class="ml-3">
                                    <div class="text-[#8E8EA1] text-sm ">Cô dâu</div>
                                    <div class="text-lg font-semibold">{{item.weddingInformation?.nameGroom}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="mt-6">
                <ng-container *ngIf="item.statusOrder === 'PENDING' && item.statusOrder !== 'CANCEL'">
                    <button mat-raised-button color="primary" class="mr-4" (click)="updateStatus(item.id, 'CONFIRM', 'Xác nhận đơn hàng')">Xác nhận đơn hàng</button>
                </ng-container>
                <ng-container *ngIf="item.statusOrder !== 'PENDING' && item.statusOrder !== 'DONE' && item.statusOrder !== 'CANCEL'">
                    <button mat-raised-button color="primary" class="mr-4" (click)="updateStatus(item.id, 'DONE', 'Hoàn tất đơn hàng')">Hoàn tất đơn hàng</button>
                </ng-container>
                <ng-container *ngIf="(item.statusOrder === 'PENDING' || item.statusOrder === 'CONFIRM') && item.statusOrder !== 'DONE' && item.statusOrder !== 'CANCEL'">
                    <button mat-raised-button color="warn" (click)="updateStatus(item.id, 'CANCEL', 'Hủy đơn hàng')">Hủy đơn hàng</button>
                </ng-container>
            </div>

            <div class="text-4xl font-extrabold tracking-tight mt-4">Danh sách dịch vụ đặt</div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto">
            <!-- Products list -->
            <div class="flex flex-col flex-auto">
                <ng-container *ngIf="(item.orderDetails) as orderDetails">
                    <ng-container *ngIf="orderDetails.length > 0; else noProducts">
                        <div class="grid">
                            <!-- Header -->
                            <div
                                class="order-detail-grid z-10 overflow-auto sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort
                                matSortDisableClear>
                                <div class="">Ngày thực hiện</div>
                                <div class="">Tên dịch vụ</div>
                                <div class="">Số lượng</div>
                                <div class="">Địa điểm</div>
                                <div class="">Giá tiền</div>
                                <div class="">Trạng thái</div>
                                <div>Tạo công việc</div>
                            </div>

                            <!-- Rows -->
                            <ng-container *ngIf="(item.orderDetails) as orderDetails1">
                                <ng-container *ngFor="let orderDetail of orderDetails1; trackBy: trackByFn">
                                    <div class="order-detail-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <div class="truncate">
                                            {{orderDetail.startTime | date: 'dd/MM/yyyy'}}
                                        </div>
                                        <div class="truncate">
                                            {{orderDetail.service?.name}}
                                        </div>
                                        <div class="truncate">
                                            {{orderDetail.service?.quantity}}
                                        </div>

                                        <div class="truncate">
                                            {{orderDetail.address}}
                                        </div>

                                        <div class="truncate">
                                            {{orderDetail.price | number: '1.0-0'}}  VNĐ
                                        </div>

                                        <div class="flex flex-row truncate">
                                            <ng-container *ngIf="orderDetail.status === 'DONE'" class="flex flex-col justify-center content-center ">
                                                <mat-icon
                                                    class="text-green-400 icon-size-5"
                                                    [svgIcon]="'heroicons_solid:check'">
                                                </mat-icon>
                                                <span class="text-green-400">Hoàn tất</span>
                                            </ng-container>
                                            <ng-container *ngIf="orderDetail.status === 'PENDING'"
                                                      class="flex flex-col justify-center content-center ">
                                                <mat-icon
                                                    class="text-gray-600 icon-size-5"
                                                    [svgIcon]="'mat_outline:pending_actions'">
                                                </mat-icon>
                                                <span class="text-gray-600">Đang chuẩn bị</span>
                                            </ng-container>
                                            <ng-container *ngIf="orderDetail.status === 'INPROCESS'"
                                                      class="flex flex-col justify-center content-center ">
                                                <mat-icon
                                                    class="text-gray-600 icon-size-5"
                                                    [svgIcon]="'mat_outline:pending_actions'">
                                                </mat-icon>
                                                <span class="text-gray-600">Đang thực hiện</span>
                                        </ng-container>
                                        </div>

                                        <div class="flex flex-row">
                                            <button
                                                class="min-w-10 min-h-7 h-7 px-2 leading-6 mr-2"
                                                mat-stroked-button
                                                (click)="createTask(orderDetail.id, orderDetail.service?.isOwnerService)"
                                                >
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
<!--                                </ng-container>-->
<!--                            </ng-container>-->
<!--                        </div>-->

<!--                        <mat-paginator-->
<!--                            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"-->
<!--                            [ngClass]="{'pointer-events-none': isLoading}"-->
<!--                            [length]="pagination.length"-->
<!--                            [pageIndex]="pagination.page"-->
<!--                            [pageSize]="pagination.size"-->
<!--                            [pageSizeOptions]="[5, 10, 25, 100]"-->
<!--                            [showFirstLastButtons]="true">-->
<!--                        </mat-paginator>-->
                    </ng-container>
                </ng-container>
                        </div>



    </ng-container>
    </ng-container>
        </div>
</div>
</ng-container>
</div>

<ng-template #noProducts>
    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
        Không có dịch vụ đặt!
    </div>
</ng-template>
