<div class="flex flex-row flex-auto pt-1">
    <ng-container>
        <div class="flex flex-col w-2/5">
            <div class="text-3xl font-extrabold tracking-tight p-5">Thông tin dịch vụ</div>

            <!-- Image -->
            <div class="flex flex-auto flex-col p-5">
                <mat-form-field class="w-full">
                    <mat-label>Tên dịch vụ</mat-label>
                    <input matInput readonly [value]="_data?.orderDetail?.service?.name">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Ngày thực hiện</mat-label>
                    <input matInput readonly [value]="_data?.orderDetail?.startTime | date: 'dd/MM/yyyy'">
                </mat-form-field>

                <mat-form-field class="w-full" >
                    <mat-label>Giá tiền</mat-label>
                    <input matInput readonly [value]="(_data?.orderDetail?.price | number: '1.0-0') + ' VNĐ'">
                </mat-form-field>

                <mat-form-field class="w-full" >
                    <mat-label>Địa chỉ</mat-label>
                    <input matInput readonly [value]="_data?.orderDetail?.address">
                </mat-form-field>

                <mat-form-field class="w-full" >
                    <mat-label>Ghi chú</mat-label>
                    <textarea matInput readonly rows="3" [value]="_data?.orderDetail?.description?.length > 0 ? _data?.orderDetail?.description : '' " placeholder="Ghi chú"></textarea>
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <ng-container [formGroup]="form">
        <!-- Title -->
        <div class="flex flex-col w-3/5 divide-x">
        <div class="text-3xl font-extrabold tracking-tight p-5">Tạo công việc</div>

        <!-- Image -->
        <div class="flex flex-auto flex-col p-5">
            <mat-form-field class="w-full">
                <mat-label>Tên công việc</mat-label>
                <input matInput [formControlName]="'taskName'">
                <mat-error *ngIf="form.get('taskName').hasError('required')">
                    Tên công việc không được để trống.
                </mat-error>
                <mat-error *ngIf="form.get('taskName').hasError('maxLength')">
                    Tên công việc không được quá 100 ký tự.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full" >
                <mat-label>Người thực hiện</mat-label>
                <mat-select [formControlName]="'userId'">
                    <ng-container *ngFor="let user of users">
                        <mat-option [value]="user.id">
                            {{user.user?.fullname}}
                        </mat-option>
                    </ng-container>
                </mat-select>
                <mat-error *ngIf="form.get('userId').hasError('required')">
                    Người thực hiện không được để trống.
                </mat-error>
            </mat-form-field>

            <div class="flex">
                <mat-form-field class="w-full pr-2">
                    <mat-label>Ngày bắt đầu</mat-label>
                    <input matInput [ngxMatDatetimePicker]="picker" [formControlName]="'startDate'" [matDatepickerFilter]="filterStart">
                    <ngx-mat-datepicker-toggle matIconSuffix [for]="picker"></ngx-mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                    <mat-error *ngIf="form.get('startDate').hasError('required')">
                        Ngày bắt đầu áp dụng không được bỏ trống
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Ngày kết thúc</mat-label>
                    <input matInput [ngxMatDatetimePicker]="picker2" [formControlName]="'endDate'" [matDatepickerFilter]="filterEnd">
                    <ngx-mat-datepicker-toggle matIconSuffix [for]="picker2"></ngx-mat-datepicker-toggle>
                     <ngx-mat-datetime-picker #picker2></ngx-mat-datetime-picker>
                    <mat-error *ngIf="form.get('endDate').hasError('required')">
                        Ngày kết thúc không được bỏ trống
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="flex justify-end items-center p-4">
            <div
                class="flex items-center mr-4 mt-4"
                *ngIf="flashMessage">
                <ng-container *ngIf="flashMessage === 'success'">
                    <mat-icon
                        class="text-green-500"
                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Thành công</span>
                </ng-container>
                <ng-container *ngIf="flashMessage === 'error'">
                    <mat-icon
                        class="text-red-500"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <span class="ml-2">Có lỗi xảy ra, vui lòng thử lại!</span>
                </ng-container>
            </div>
            <!-- Add Actions -->
                <div class="flex items-center justify-center">
                    <!-- Save -->
                    <button class="mr-4" mat-flat-button matDialogClose>Đóng</button>
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="form.invalid"
                        (click)="create()">
                        Lưu
                    </button>
                </div>
        </div>
        </div>
    </ng-container>

</div>
