<div class="flex flex-col flex-auto -m-6 pt-1">

    <ng-container [formGroup]="form">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight p-5">Tạo công việc</div>

        <!-- Image -->
        <div class="flex flex-auto flex-col p-5">
            <mat-form-field class="w-full">
                <mat-label>Tên công việc</mat-label>
                <input matInput [formControlName]="'taskName'">
                <mat-error *ngIf="form.get('taskName').hasError('required')">
                    Tên công việc không được để trống.
                </mat-error>
                <mat-error *ngIf="form.get('taskName').hasError('maxLength')">
                    Tên công việc không được quá 100 ký tự.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full" >
                <mat-label>Người thực hiện</mat-label>
                <mat-select [formControlName]="'userId'">
                    <ng-container *ngIf="users$ | async as users">
                        <ng-container *ngFor="let user of users">
                            <mat-option [value]="user.id">
                                {{user.user?.fullname}}
                            </mat-option>
                        </ng-container>
                    </ng-container>
                </mat-select>
                <mat-error *ngIf="form.get('userId').hasError('required')">
                    Người thực hiệ không được để trống.
                </mat-error>
            </mat-form-field>

            <div class="flex">
                <mat-form-field class="w-full pr-2">
                    <mat-label>Ngày bắt đầu</mat-label>
                    <input matInput [matDatepicker]="picker" [formControlName]="'startDate'" [matDatepickerFilter]="filterStart">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.get('startDate').hasError('required')">
                        Ngày bắt đầu áp dụng không được bỏ trống
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Ngày kết thúc</mat-label>
                    <input matInput [matDatepicker]="picker2" [formControlName]="'endDate'" [matDatepickerFilter]="filterEnd">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                     <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="form.get('endDate').hasError('required')">
                        Ngày kết thúc không được bỏ trống
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="flex justify-end items-center m-4">
            <div
                class="flex items-center mr-4 mt-4"
                *ngIf="flashMessage">
                <ng-container *ngIf="flashMessage === 'success'">
                    <mat-icon
                        class="text-green-500"
                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Thành công</span>
                </ng-container>
                <ng-container *ngIf="flashMessage === 'error'">
                    <mat-icon
                        class="text-red-500"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <span class="ml-2">Có lỗi xảy ra, vui lòng thử lại!</span>
                </ng-container>
            </div>
            <!-- Add Actions -->
                <div class="flex items-center justify-center">
                    <!-- Save -->
                    <button class="mr-4" mat-flat-button matDialogClose>Đóng</button>
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="form.invalid"
                        (click)="create()">
                        Lưu
                    </button>
                </div>
        </div>
    </ng-container>

</div>
