:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

::ng-deep .mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: #95b8f1 !important;
    --mdc-snackbar-container-color: #333333;
    --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
}

::ng-deep .ngx-mat-timepicker-table{
    width: 200px;
}

::ng-deep .ngx-mat-timepicker form .ngx-mat-timepicker-table .ngx-mat-timepicker-tbody tr td .mat-mdc-form-field {
    width: 60px !important;
    max-width: 60px !important;
    text-align: center;
}
