<div class="flex flex-col flex-auto -m-6 pt-1">

    <ng-container *ngIf="(item$ | async) as item" [formGroup]="form">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight p-5">Thông tin chi tiết</div>

        <!-- Image -->
        <div class="flex flex-auto flex-row p-5">
            <!--            image-->
            <div class="flex flex-col items-center">
                <div class="w-32 h-44 border rounded overflow-hidden">
                    <ng-container *ngIf="item.user?.imageUrl; else noImage">
                        <img class="w-full h-full object-cover" [src]="item.user?.imageUrl">
                    </ng-container>
                    <ng-template #noImage>
                        <span class="flex justify-center items-center min-h-20 text-lg font-semibold">NO IMAGE</span>
                    </ng-template>
                </div>
            </div>


            <!-- Name, SKU & etc. -->
            <div class="flex flex-col w-full sm:pl-8">

                <!-- Name -->
<!--                <mat-form-field class="w-full">-->
<!--                    <mat-label>ID</mat-label>-->
<!--                    <input readonly matInput [formControlName]="'id'">-->
<!--                </mat-form-field>-->

                <div class="flex">
                    <mat-form-field class="w-full pr-2">
                        <mat-label>Tên đầy đủ</mat-label>
                        <input readonly matInput [formControlName]="'fullname'">
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>Ngày sinh</mat-label>
                        <input readonly matInput [formControlName]="'dateOfBirth'">
                    </mat-form-field>
                </div>

                <div class="flex">
                    <mat-form-field class="w-full">
                        <mat-label>Giới tính</mat-label>
                        <input readonly matInput [formControlName]="'gender'">
                    </mat-form-field>
                    <mat-form-field class="w-full pl-2" *ngIf="roles.includes(item.roleName)">
                        <mat-label>Nghiệp vụ</mat-label>
                        <mat-select [formControlName]="'roleName'">
                            <ng-container *ngFor="let role of roles">
                                <mat-option [value]="role">
                                    {{role}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex" *ngIf="_data.currentRole === 'Partner' || _data.currentRole === 'Staff'">
                    <mat-form-field class="w-full">
                        <mat-label>Loại dịch vụ</mat-label>
                        <mat-select [formControlName]="'categoryId'">
                            <ng-container *ngIf="categories$ | async as cateParent">
                                <ng-container *ngFor="let category of cateParent">
                                    <mat-option [value]="category.id">
                                        {{category.name}}
                                    </mat-option>
                                </ng-container>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="form.get('categoryId').hasError('required')">
                            Loại dịch vụ không được bỏ trống
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex">
                    <mat-form-field class="w-full pr-2">
                        <mat-label>Số điện thoại</mat-label>
                        <input readonly matInput [formControlName]="'phone'">
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>Email</mat-label>
                        <input readonly matInput [formControlName]="'email'">
                    </mat-form-field>
                </div>

                <mat-form-field class="w-full">
                    <mat-label>Địa chỉ</mat-label>
                    <input readonly matInput [formControlName]="'address'">
                </mat-form-field>

                <div class="flex flex-row mb-4  font-medium">
                    <div>Trạng thái</div>
                    <div class="flex flex-row truncate ml-4">
                        <ng-container *ngIf="item.status === 'Active'" class="flex flex-col justify-center content-center ">
                            <mat-icon
                                class="text-green-400 icon-size-5"
                                [svgIcon]="'heroicons_solid:check'">
                            </mat-icon>
                            <span class="text-green-400">Đang hoạt động</span>
                        </ng-container>
                        <ng-container *ngIf="item.status !== 'Active'">
                            <mat-icon
                                class="text-gray-400 icon-size-5"
                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                            <span class="text-gray-400">Đã khóa</span>
                        </ng-container>
                    </div>
                </div>


            </div>


        </div>
        <div class="flex justify-end items-center m-4">
            <div
                class="flex items-center mr-4 mt-4"
                *ngIf="flashMessage">
                <ng-container *ngIf="flashMessage === 'success'">
                    <mat-icon
                        class="text-green-500"
                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Thành công</span>
                </ng-container>
                <ng-container *ngIf="flashMessage === 'error'">
                    <mat-icon
                        class="text-red-500"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <span class="ml-2">Có lỗi xảy ra, vui lòng thử lại!</span>
                </ng-container>
            </div>
            <!-- Edit Actions -->
            <ng-container *ngIf="item.id">
                <div class="flex items-center justify-between mt-4">
                    <!-- Close -->
                    <button class="mr-4" mat-flat-button matDialogClose>Đóng</button>
                    <button
                        *ngIf="roles.includes(item.roleName)"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="form.invalid"
                        (click)="updateRole()">
                        Cập nhật
                    </button>

                </div>
            </ng-container>
        </div>
    </ng-container>

</div>
