<div class="flex flex-col flex-auto -m-6 pt-1">

    <ng-container *ngIf="(item$ | async) as cate" [formGroup]="form">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight p-5">{{cate.id ? 'Chi tiết công việc' : 'Thêm công việc'}}</div>

        <!-- Image -->
        <div class="flex flex-auto flex-row p-5 fix-height divide-x">
            <div class="w-1/2 mr-4">
                <mat-form-field class="w-full">
                    <mat-label>Mã số</mat-label>
                    <input matInput readonly [formControlName]="'code'">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Tên công việc</mat-label>
                    <input matInput readonly [formControlName]="'taskName'">
                </mat-form-field>

                <mat-form-field class="w-full" >
                    <mat-label>Người thực hiện</mat-label>
                    <ng-container *ngIf="cate.partner !== null">
                        <input matInput readonly [formControlName]="'partnerName'">
                    </ng-container>
                    <ng-container *ngIf="cate.staff !== null || (cate.staff === null && cate.partner === null)">
                        <mat-select [formControlName]="'staffId'" (selectionChange)="onSelectChangeStaff($event)">
                            <mat-option *ngFor="let user of users" [value]="user?.id">{{user.user?.fullname}}</mat-option>
                        </mat-select>
<!--                        <input type="text" matInput [formControlName]="'staffId'" [matAutocomplete]="auto">-->
<!--                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectChangeStaff($event)">-->
<!--                            <mat-option *ngFor="let user of filteredOptions | async" [value]="user">-->
<!--                                {{user.user?.fullname}}-->
<!--                            </mat-option>-->
<!--                        </mat-autocomplete>-->
                    </ng-container>
<!--                    <ng-container *ngIf="">-->
<!--                        <input matInput readonly [formControlName]="'staffName'">-->
<!--                    </ng-container>-->
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Đơn hàng</mat-label>
                    <input matInput readonly [formControlName]="'orderName'">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Tên dịch vụ</mat-label>
                    <input matInput readonly [formControlName]="'serviceName'">
                </mat-form-field>

                <div class="flex">
                    <mat-form-field class="w-full pr-2">
                        <mat-label>Ngày bắt đầu</mat-label>
                        <input matInput readonly [matDatepicker]="" [formControlName]="'startTime'">
                        <mat-datepicker-toggle matIconSuffix [for]=""></mat-datepicker-toggle>
                        <!-- <mat-datepicker #picker></mat-datepicker> -->
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>Ngày kết thúc</mat-label>
                        <input matInput readonly [matDatepicker]="" [formControlName]="'endTime'">
                        <mat-datepicker-toggle matIconSuffix [for]=""></mat-datepicker-toggle>
                        <!-- <mat-datepicker #picker2></mat-datepicker> -->
                    </mat-form-field>
                </div>

                <mat-form-field class="w-full">
                    <mat-label>Trạng thái</mat-label>
                    <mat-select [formControlName]="'status'" (selectionChange)="onSelectChange($event)">
                            <mat-option value="EXPECTED">Dự kiến</mat-option>
                            <mat-option value="TO_DO">Đang chuẩn bị</mat-option>
                            <mat-option value="IN_PROGRESS">Đang thực hiện</mat-option>
                            <mat-option value="DONE">Hoành thành</mat-option>
                    </mat-select>
                </mat-form-field>

<!--                <div class="flex flex-row truncate">-->
<!--                    <div class="mr-4">Trạng thái</div>-->
<!--                    <ng-container *ngIf="cate.status === 'EXPECTED'"-->
<!--                                  class="flex flex-col justify-center content-center ">-->
<!--                        <mat-icon-->
<!--                            class="text-gray-600 icon-size-5"-->
<!--                            [svgIcon]="'mat_outline:pending_actions'">-->
<!--                        </mat-icon>-->
<!--                        <span class="text-gray-600">Dự kiến</span>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="cate.status === 'TO_DO'"-->
<!--                                  class="flex flex-col justify-center content-center ">-->
<!--                        <mat-icon-->
<!--                            class="text-gray-600 icon-size-5"-->
<!--                            [svgIcon]="'mat_outline:pending_actions'">-->
<!--                        </mat-icon>-->
<!--                        <span class="text-gray-600">Đang chuẩn bị</span>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="cate.status === 'IN_PROGRESS'"-->
<!--                                  class="flex flex-col justify-center content-center ">-->
<!--                        <mat-icon-->
<!--                            class="text-gray-600 icon-size-5"-->
<!--                            [svgIcon]="'mat_outline:pending_actions'">-->
<!--                        </mat-icon>-->
<!--                        <span class="text-gray-600">Đang thực hiện</span>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="cate.status === 'DONE'"-->
<!--                                  class="flex flex-col justify-center content-center ">-->
<!--                        <mat-icon-->
<!--                            class="text-gray-600 icon-size-5"-->
<!--                            [svgIcon]="'mat_outline:pending_actions'">-->
<!--                        </mat-icon>-->
<!--                        <span class="text-gray-600">Hoành thành</span>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="cate.status === 'CANCEL'"-->
<!--                                  class="flex flex-col justify-center content-center ">-->
<!--                        <mat-icon-->
<!--                            class="text-gray-600 icon-size-5"-->
<!--                            [svgIcon]="'mat_outline:pending_actions'">-->
<!--                        </mat-icon>-->
<!--                        <span class="text-gray-600">Đã hủy</span>-->
<!--                    </ng-container>-->
<!--                </div>-->
            </div>
            <div class="w-1/2 pl-4 pr-4">
                <div class="text-1xl font-semibold tracking-tight mb-1">Bình luận</div>
                <div class="flex flex-col overflow-auto h-2/3">
                    <ng-container *ngIf="comments?.length > 0; else noComments">
                        <div *ngFor="let comment of comments" class="mt-4 w-full">
                            <div class="text-[#8E8EA1] text-sm">{{comment.createDate | date: "hh:mm dd/MM/yyyy"}}</div>
                            <div class="flex flex-row">
                                <div class="whitespace-normal font-semibold">{{comment.createBy?.fullname + ':'}}&nbsp;</div>
                                <div class="whitespace-normal">{{comment.content}}</div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noComments>
                        <div>Chưa có bình luận nào!</div>
                    </ng-template>
                </div>
                <div class="flex flex-col mt-4">
                    <mat-form-field class="w-full">
                        <mat-label>Thêm bình luận</mat-label>
                        <textarea
                            class="resize-none"
                            matInput
                            [formControl]="commentInput"
                            [rows]="2"></textarea>
                        <mat-error *ngIf="commentInput.hasError('maxlength')">
                            Bình luận không được quá 300 ký tự.
                        </mat-error>
                        <mat-error *ngIf="commentInput.hasError('required')">
                            Bình luận không được bỏ trống.
                        </mat-error>
                    </mat-form-field>
                    <button mat-flat-button color="accent" (click)="addComment()">Bình luận</button>
                </div>
            </div>

            <div class="flex flex-col items-center pl-4">
                <div class="text-1xl font-semibold tracking-tight mb-1">Ảnh</div>
                <div class="max-w-80 w-80 h-50 border rounded overflow-hidden">
                    <img [hidden]="!imgDataOrLink" class="max-w-80 h-full object-cover" [src]="imgDataOrLink"
                         alt="Lỗi HÌnh Ảnh">

                    <span [hidden]="imgDataOrLink"
                          class="flex justify-center items-center min-h-20 text-lg font-semibold p-8 pt-12">NO IMAGE</span>
                </div>
                <input type="file" #fileInput style="display: none;" (change)="uploadImage($event)" accept="image/*">

            </div>
        </div>
        <div class="flex justify-end items-center m-4">
            <div
                class="flex items-center mr-4 mt-4"
                *ngIf="flashMessage">
                <ng-container *ngIf="flashMessage === 'success'">
                    <mat-icon
                        class="text-green-500"
                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Thành công</span>
                </ng-container>
                <ng-container *ngIf="flashMessage === 'error'">
                    <mat-icon
                        class="text-red-500"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <span class="ml-2">Có lỗi xảy ra, vui lòng thử lại!</span>
                </ng-container>
            </div>
            <!-- Add Actions -->
            <!-- <ng-container *ngIf="!cate.id">
                <div class="flex items-center justify-end mt-4">
                    <button class="mr-4" mat-flat-button matDialogClose>Đóng</button>
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="form.invalid"
                        (click)="create()">
                        Thêm mới
                    </button>
                </div>
            </ng-container> -->
            <!-- Edit Actions -->
            <ng-container *ngIf="cate.id">
                <div class="flex items-center justify-between mt-4">
                    <!-- Close -->
                    <button class="mr-4" mat-flat-button matDialogClose>Đóng</button>
                   <button
                        mat-flat-button
                        [color]="'primary'"
                        (click)="update()">
                        Cập nhật
                   </button>
                </div>
            </ng-container>
        </div>
    </ng-container>

</div>
