:root {
  // header
  --height--header--default: 150px;
  --height--header--mobile: 48px;
  // menu
  --width--menu--full: 257px;
  --width--menu--default: 257px; // 88px;
  // screen
  --height--app--full: 100vh;
  --width--app--full: 100vw;
  // dialog
  --width--right-dialog--default: 711px;
  --width--right-filter: 400px;
}
